footer
  display: flex
  flex-direction: row
  width: 100%
  height: 150px
  background-color: #F7931A

  section
    display: flex
    width: 50%
    align-items: center
    justify-content: center

  .left ul
    font-size: 1.4rem
    font-weight: 500
    line-height: 1.8rem
    list-style: none

  .left li
    margin: 10px 0

  .left a
    text-decoration: none
    color: #fff
